<table class="table table-hover">
    <td>
      <%= link_to user.email, user %>
    </td>
    <td>
      <%= form_for(user) do |f| %>  
        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize, role]}) %>
          <td> <%= f.submit 'Change Role', class:"btn btn-primary"%> </td>
      <% end %>
    </td>
    <td>
      <%= link_to("Delete user", user, :data => { :confirm => "Are you sure?" }, class:"btn btn-danger",  :method => :delete) unless user == current_user %>
    </td>
</table>