<div class="container-fluid py-5 px-5">
  <div class="row">

    <div class="col-4">
      <div class="profile-picture no-profile-picture">
        <%# <% unless @user.avatar.nil? %>
          <%# <%= image_tag @user.avatar, class: 'img-fluid' %> 
        <%# <% end %>
        <img url="" width="300" height="300">
      </div>
      <br>
      <div>
        <h2>Bio</h2>
        <p class="info">
          <%= @user.bio %>
        </p>
      </div>
    </div>

    <div class="col-8">
    
      <h1 class="info"><%= current_user.username %></h1>

      <br>
      <p><%= user_role(current_user) %></p>

      <p>Designation: <%= current_user.designation%></p>

      <p>Company: <%= current_user.company%></p>

      <br>
      <hr >
      <p> You have <strong><%= pluralize(Post.draft_count, 'post')%></strong> in your draft. </p>

      <%= link_to "Edit profile", edit_user_path, class:"btn btn-primary" %>

    </div>

  </div>
    
</div>