<div class="container-fluid py-5 px-5">
  <div class="row">

    <div class="col-4">
      <div class="w3-card-4" style="width:50%" >
        <% if current_user.avatar.attached? %>
            <%= image_tag(current_user.avatar, size: '350x350', class: 'rounded-circle')%>
        <%else%>
              <img src="https://picsum.photos/200/300?random=1">
        <% end %>
      </div>

      <br>

      <div>
        <h2>Bio</h2>
        <p class="info"> <%= @user.bio %> </p>

        <h2>Your score</h2>
        <h4 class="info"> <%= user_score() %> </h4>
      </div>
    </div>

    <div class="col-8">
    
      <h1 class="info"><%= current_user.username %></h1>

      <br>
      <p><%= user_role(current_user) %></p>

      <p>Designation: <%= current_user.designation%></p>

      <p>Company: <%= current_user.company%></p>

      <p>Your score: </p>

      <p> You have <strong><%= pluralize(Post.draft_count, 'post')%></strong> in your draft. </p>

      <%= link_to "Edit profile", edit_user_path, class:"btn btn-primary" %>
      <hr >

      <div class="container">
        <div class="row">

          <div class="col-sm">
            <div class="overflow-auto">
              <h4 class="info">My posts</h4>
              <%= render 'users/post_score' %>
            </div>
          </div>

          <div class="col-sm">
            <div class="overflow-auto">
              <h4 class="info">My answers</h4>
              <%= render 'users/answer_score' %>
            </div>
          </div>

        </div>

      </div>
    
    </div>

  </div>
    
</div>
