<div class="container-fluid py-5 px-5">
  <div class="row">

    <div class="col-4">
      <div class="profile-picture no-profile-picture">
        <%# <% unless @user.avatar.nil? %>
          <%# <%= image_tag @user.avatar, class: 'img-fluid' %> 
        <%# <% end %>
        <img url="" width="300" height="300">
      </div>
      <br>
      <div>
        <h2>Bio</h2>
        <p class="info">
          <%= @user.bio %>
        </p>
      </div>
    </div>

    <div class="col-8">
    
      <h1 class="info"><%= @user.username %></h1>

      <br>
      <%= user_role(current_user) %>
      <%# helper %>

      <br>
      <br>

      <% if current_user.id == @user.id %>
        <%= link_to 'Edit My profile', edit_user_registration_path(@user), method: :edit, class:"btn btn-primary" %>
      <% end %>

      <br>
      <br>

      <p> You have <strong><%= pluralize(Post.draft_count, 'post')%></strong> in your draft. </p>

      <% if @user.designation.nil? || @user.company == '?' %>
      
        <p>
          Your profile seems incomplete. <%= link_to 'Complete my profile.', edit_user_path, method: :edit, class:"link" %>
        </p>
      <% end %>

    </div>

  </div>
    
</div>