<div class="container-fluid py-5 px-5">
  <div class="row">

    <div class="col-4">
      <div class="profile-picture no-profile-picture">
        <img src="" width="250px" height="250px">
      </div>
      <br>
      <div>
        <h2>Bio</h2>
        <p class="info">
          <%= @user.bio %>
        </p>
      </div>
    </div>

    <div class="col-8">
    
      <h1 class="info"><%= @user.username %></h1>

      <br>
      <% if current_user.user? %>
        <p><strong>Role: </strong><%= @user.role %> at <b><%= @user.company %></b></p>
      <% else %>
        <p><strong>Role: </strong><%= @user.role %></p>
      <% end %>

      <br>

      <% if current_user.id == @user.id %>
        <%= link_to 'Edit My profile', edit_user_path, method: :edit, class:"btn btn-primary" %>
      <% end %>

      <br>
      <br>

      <p> You have <strong><%= pluralize(Post.draft_count, 'post')%></strong> in your draft. </p>

      <%# unless !@user.designation.nil? || !@user.company.nil? %>
        <p>
          Your LOGIC seems incomplete. <%= link_to 'Complete my profile.', edit_user_path, method: :edit %>
        </p>

    </div>

  </div>
    
</div>