<form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search for Posts here..." aria-label="Search">
  <button type="submit" class="btn btn-outline-primary">Search</button>
</form>

<hr class="hr">

<p> Pulished posts: <strong><%= Post.published_count %> </strong> </p><br>

<% @posts.each do |post| %>

  <% if post.status == 'Publish' || post.user_id == current_user.id %>

    <div class="jumbotron">
      <p class="mb-3"><strong>Title: </strong><%= post.title %> ~ <b>@</b><%= post.user.email %></p>

      <p> <strong>Relevance: </strong><%= post.tags %> </p>

      <p> <strong>Posted on: </strong><%= post.created_at.strftime("%A, %B %e, %Y") %>, at <%= post.created_at.strftime("%I:%M %P") %> <br>
      </p>

      <% if post.status == 'Draft' %>
        <p id="draft-post"> This post is under Archived. </p>
      <% elsif post.status == 'Archive'%>
        <% if !!current_user || current_user.role == 'Moderator' %>
          <p id="archive-post"> This post is under Draft. </p>
        <% end %>
      <% end %>

      <p class="lead">

        <%= link_to 'Read', post, class:"btn btn-primary"%>
        
        <% if post.user_id == current_user.id || current_user.admin? %>
          <%= link_to 'Edit', edit_post_path(post), class:"btn btn-primary"%>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
        <% end %>

      </p>

    </div>

    Visibility: <%= post.visibility %><br>
    Role: <%= post.user.role %><br>
    Status: <%= post.status %>

    <hr class="bg-dark border-1 border-top border-dark">
  
  <% end %>

<% end %>

<br>

<% if user_signed_in? %>
  <%= link_to 'Ask a Question?', new_post_path, class:"btn btn-primary"%>
<% end %>