<br>
<p>
  <strong >Title:</strong> 
  <%= @post.title %>
</p>

<p>
  <strong>Details:</strong>
  <div class="container">
    <%= @post.content %>
  </div>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags %>
</p>
  
<p>
  <strong>Posted by:</strong>
  <%= @user %>
</p>

<p>
  <strong>Posted at: </strong>
  <%= @post.created_at.strftime("%A, %B %e, %Y")%> at <%= @post.created_at.strftime("%I:%M %P") %>
</p>

<!-- <p>
  <strong>Will be published on: </strong>
  <%= @post.publish_at.strftime("%A, %B %e, %Y")%> at <%= @post.publish_at.strftime("%I:%M %P") %>
</p> -->

<div class="d-flex">
  <% if @post.user_id == current_user.id || current_user.role == 'admin' || current_user.role == 'moderator' %>
    <div>
      <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary" %>
    </div>

    <div id="right-div">
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
    </div>
   <% end %>

  <div id="right-div">
    <%= link_to 'Back to Posts', posts_path, class:"btn btn-primary" %>
  </div>

</div>


<% unless @post.user_id == current_user.id %>
  <div class=d-flex>
    <div id="right-div">
      <%= link_to 'Up vote', class:"btn btn-success" %>
    </div>

    <div id="right-div">
       <%= link_to 'Down vote', class:"btn btn-danger" %>
    </div>
  </div>
<% end %> 

<%= current_user.role %>

<hr class="bg-dark border-1 border-top border-success">
<br>
 
<div class="container">
<h4 class="info">
  <%= pluralize(@post.comments.count, "Comment") %>
</h4>
<% @post.comments.reverse.each do |comment| %>
  <hr>

  <div class="container"> 
    <%= comment.body %> ~ <b class="info">@<%= comment.user.username %>.</b>
    <b>Posted on</b>
    <%= comment.created_at.strftime("%B %e, %Y") %> at <%= comment.created_at.strftime("%I:%M %P") %>

    <br>
    <br>
    <% if current_user.id == comment.user_id %>
      <%= link_to 'Edit', edit_post_comment_path(@post, comment), class:"bottom-corner" %>
      <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "delete", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>

  <hr>

<% end %>
</div>

<div class="container">
  <h5 class="info">Add a comment<h5>

  <%= render 'posts/comments/form' %>
  
</div>

<hr>
<br/>

<h4 class="info">
  <%= pluralize(@post.answers.count, "Answer") %>
</h4> 

<div class="container">
  <%= render 'posts/answers/answers' %>
</div>

<br>

<h4 class="info">Your answer</h4>

<% if @post.user_id == current_user.id %>

  <% if Time.now - @post.created_at >= 1.day %>

    <%= render 'posts/answers/form' %>

  <% else %>

      <p> Users can answer their own questions only after <b>24 hours.</b> </p>
  
  <%end%>

<% else %>

  <%= render 'posts/answers/form' %>

<% end %>